<script src="https://kit.fontawesome.com/6f90f9dcc4.js" crossorigin="anonymous">       </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer>                       </script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" defer></script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer>    </script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer>       </script>
<script src="/assets/js/cookies.js" defer>                                             </script>
<script src="/assets/js/main.js" type="module">                                        </script>
