<div id="foot" class="flex flex-row gap-8 text-xs leading-8 lg:px-[20%] p-8 bg-foot">
    {% include button-1.html link="/" name="Home"     style="foot" %}
    {% include button-1.html link="/" name="About Us" style="foot" %}
    {% include button-1.html link="/" name="Cookies"  style="foot" %}
    <div class="flex-1"></div>
    {% include button-1.html link="/" name='<i class="fa-brands fa-twitter fa-lg"></i>' style="foot" %}
    {% include button-1.html link="/" name='<i class="fa-brands fa-youtube fa-lg"></i>' style="foot" %}
</div>