---
layout: default
---


<div class="grid grid-cols-4 gap-4">
    {% assign post = site.posts.first %}
    {% assign date = post.date | date: "%-d %B %Y" %}
    {% include card.html name=post.title url=post.url subtitle=date content=post.description %}
</div>

<div class="grid grid-cols-12 gap-4">
    {% for post in site.posts offset: 1 %}
    {% assign date = post.date | date: "%-d %B %Y" %}
    {% include card.html name=post.title url=post.url subtitle=date content=post.description %}
    {% endfor %}
</div>