---
---

<!doctype html>

<html lang="en">

<head>
  {% include page-meta.html %}
  {% include meta-seo-tags.html %}
  {% include meta-links.html %}
  {% include js-scripts.html %}
  {% include google-analytics.html %}
</head>

<body class="flex flex-col h-screen">
  <div id="cook" class="flex flex-row gap-2 text-xs leading-8 p-2 bg-cook text-cook-text {{ site.data.styles.cook }}">{% include cook.html %}</div>
  <div id="menu" class="flex flex-row gap-2 text-xs leading-8 p-2 bg-menu text-menu-text {{ site.data.styles.menu }}">{% include menu.html %}</div>
  {% include page.html %}
  <div id="foot" class="flex flex-row gap-2 text-xs leading-8 p-2 bg-foot text-foot-text {{ site.data.styles.foot }}">{% include foot.html %}</div>
</body>

</html>