---
---

<!doctype html>

<html lang="en">

<head>
    {% include page-meta.html %}
    {% include meta-seo-tags.html %}
    {% include meta-links.html %}
    {% include js-scripts.html %}
    {% include google-analytics.html %}
</head>

<body>
    <div id="cook" class="{{ site.data.styles['cook'].class }}">{% include cook.html %}</div>
    <nav id="menu" class="{{ site.data.styles['menu'].class }}">{% include menu.html %}</nav>
    <div id="page" class="{{ site.data.styles[page.layout].class }}">{{ content }}</div>
    <nav id="foot" class="{{ site.data.styles['foot'].class }}">{% include foot.html %}</nav>
</body>

</html>